<% content_for :meta do %>
  <title>Semantic Web Work in Turkey, Event Ontologies, dakick.com - semanticdoc</title>
  <meta name="description" content="Detailed Information about Event Ontologies (still in progress) by Turkey's leading company, dakick.com.">
<% end %>
<div class="hero-unit">
  <h1>Semantic Web Work!<image src="<%=image_path('semantic.png')%>" class="pull-right"></h1>
  <p style="margin:30px 0px 30px 0px; text-align: justify; ">Event, Creative Work (movie, exhibition, trade show, sports game, conference, performing arts, tv program, concert), People, Place Ontologies for dakick.com.</p>
  <p><a class="btn btn-primary btn-large" href="/semantic_schemas">Start exploring it!</a></p>
</div>