<li>
  <%=link_to semantic_schema.name, semantic_schema_path(semantic_schema)%>: <%=semantic_schema.properties.map {|p| p.name}.join(", ")%>
  <% if semantic_schema.has_children? %>
  <ul>
    <% semantic_schema.children.order("name ASC").each do |sc| %>
      <%= render "semantic_schema", semantic_schema: sc %>
    <% end%>
  </ul>
  <% end %>
</li>